<configuration>

  <!-- Consola -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Fichero -->
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>app.log</file><!-- archivo en donde se almacenaran los logs -->
    <append>true</append>
    <encoder>
      <pattern>%d{HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Nivel por defecto -->
  <root level="debug"> <!-- En mi caso lo dejare en debug, principalmente estaba en info -->
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>

</configuration>
